@font-face {
    font-family: zen;
    src: url("../assets/fonts/Zenith BRK.ttf");
}

body {
    font-family: zen;
}

.flex {
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template: 10px 10px 10px / 30px 30px 30px;
    gap: 10px;
}

.mymaster {
    position: relative;
    top: 40px;
}